<div [@openCloseSN]="sidenavReturn()" class="sidenav">
  <ul class="menu">
    <a routerLink="dashboard"><li class="item"><i class="material-icons">dashboard</i></li></a>
    <a routerLink="properties"><li class="item"><i class="material-icons">home</i></li></a>
    <a href="#"><li class="item"><i class="material-icons">gavel</i></li></a>
    <a href="#"><li class="item"><i class="material-icons">description</i></li></a>
    <a href="#"><li class="item"><i class="material-icons">fingerprint</i></li></a>
  </ul>
</div>
