@import '../../app.component.scss';

.sidenav {
  display: block;
  position: fixed;
  height: 100%;
  width: 0;
  background: $card-color;
  z-index: 1;
  margin: 50px 0 50px 0;
  padding: 0;
  overflow-x: hidden;
  top: 0;
  right: 0;
}

.menu {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  justify-content: center;
  list-style: none;
  a {
    text-decoration: none;
    transition: $menu-transition;
  }
}

.item {
  width: 100%;
  margin: 0 auto;
  padding: 25px 0 25px 0;
  text-align: center;
  cursor: pointer;
  transition: $menu-transition;
  &:hover {
    background: $accent-color-1;
    .material-icons {
      color: $accent-color-3;
    }
  }
}

.material-icons {
  font-size: 30px;
  transition: $menu-transition;
}
