@import '../../app.component.scss';
@import '../pusher/pusher.component.scss';

.content {
  display: grid;
  grid-gap: $grid-gap;
  grid-template-columns: 7fr 3fr;
  grid-template-rows: 2fr 1fr;
  grid-template-areas:
    'general prof'
    'general .';
  .prop-general-info {
    grid-area: general;
    .new-prop-nav {
      display: flex;
      align-items: stretch;
      justify-content: space-around;
      width: 100%;
      margin: 0;
      margin-bottom: 10px;
      padding: 10px;
      li {
        display: inline-block;
        padding: 0 auto;
        &::after {
          content: '';
          display: block;
          height: 2px;
          width: 100%;
          margin: 5px auto;
          background: $line-color;
          transition: $menu-transition;
        }
        &:hover {
          cursor: pointer;
          &::after {
            background: $line-hover-color;
          }
        }
      }
    }
    .general {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-gap: 1em;
      grid-template-areas:
        'address info'
        'address info';
      .prop-address {
        grid-area: address;
      }
      .prop-info {
        grid-area: info;
      }
    }
  }
  .prop-profile {
    grid-area: prof;
  }
}
