<div class="content">
  <div class="row">
    <div class="col-xs-12 col-sm-5">
      <app-card header='Properties'>
        <p>Properties</p>
      </app-card>
      <app-card header='More Properties'>
        <p>Properties</p>
      </app-card>
    </div>
  </div>
</div>




<!--
  <div class="container">
    <h2 class="container-header">New Property</h2>
    <div class="secondary-menu">
      <ul>
        <li class="secondary-menu-item">
          <a routerLink="/general">General</a>
        </li>
        <li class="secondary-menu-item">
          <a routerLink="/financial">Financial</a>
        </li>
        <li class="secondary-menu-item">
          <a routerLink="/rehab">Rehab</a>
        </li>
      </ul>
    </div>
  </div>
 -->
