.container {
  width: 80%;
  max-width: 1200px;
  height: 100px;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: 0.1s;
}

.container:hover {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.secondary-menu {
  width: 100%;
  background-color: #333333;
}

.secondary-menu-item {
  display: inline;
  padding: 15px 20px;
  margin: 0 auto;
  padding: 0 15%;
}
