/* IMPORTS */

@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);

/* APPLICATION CONSTANTS */

$main-font: 'Open Sans Condensed', sans-serif;

* {
  font-family: "Open Sans Condensed", sans-serif;
}

html, body {
  margin: 0;
  height: auto;
  width: 100%;
  background: #eeeeee;
}

.card {
  border: 1px solid
}
