/* IMPORTS */

@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Montserrat:400,700|Roboto+Condensed:400,700);

/* APPLICATION CONSTANTS */

$main-font-1: 'Open Sans Condensed', sans-serif;
$main-font-2: 'Roboto Condensed', sans-serif;
$main-font-3: 'Montserrat', sans-serif;
$menu-transition: 0.25s;
$card-transition: 0.15s;
$line-transition: 0.75s;
$box-shadow-init: 0px 4px 4px rgba(0,0,0,0.2);
$box-shadow-hover: 0px 10px 10px rgba(0,0,0,0.2);
$grid-gap: 1em;
$background-color: #eee;
$card-color: white;
$menu-bg-color: white;
$primary-font-color: black;
$accent-color-1: #e2edff;
$accent-color-2: #fffdbd;
$accent-color-3: #a2b9ff;
$line-color: $background-color;
$line-hover-color: $accent-color-3;
$header-font-size: 20px;
$subitem-font-size: 14px;
$menu-font-size: 15px;

* {
  font-family: $main-font-3;
  color: $primary-font-color;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: auto;
  width: 100%;
}

i {
  font-family: 'Material Icons' !important;
}

::-webkit-scrollbar {
  width: 0;
}

.form-block {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 10px;
  border: 1px solid $background-color;
  li, label, input, select, textarea {
    width: 100%;
  }
  button {
    width: 200px;
  }
  li {
    margin: 10px auto;
    text-align: left;
    .button {
      text-align: center;
    }
  }
  input, select, textarea, button {
    border: 1px solid $background-color;
    border-radius: 2px;
    outline: none;
    &:focus {
      border: 1px solid $line-hover-color;
    }
  }
  textarea {
    resize: none;
  }
  .form-header {
    font-size: 0.9*$header-font-size;
    &::after {
      content: '';
      display: block;
      height: 1px;
      width: 100%;
      margin: 5px auto;
      background: $line-color;
      transition: $menu-transition;
    }
  }
  .form-item {
    position: relative;
    font-size: 0.7*$header-font-size;
    width: 100%;
  }
  .form-span {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
    .form-item {
      margin: 0 10px 0 10px;
      &:first-child {
        margin: 0;
        margin-right: 10px;
      }
      &:last-child {
        margin: 0;
        margin-left: 10px;
      }
    }
  }
}
