<div [@openClose]="isOpen ? 'open' : 'closed'" class="open-close-container">
  <div class="item">
    <div class="item-header row">
      <h3>5809 Oakwood Dr</h3>
    </div>
    <a href="#"><img src="https://cdn.vox-cdn.com/thumbor/9KHtq2E7Ua18ok5qlLnAv5kXLfY=/0x0:4256x2163/1200x800/filters:focal(1731x758:2411x1438)/cdn.vox-cdn.com/uploads/chorus_image/image/58387913/Flex_House_Exterior_6_13_17.0.jpg" alt=""></a>
      <div class="subitem row end-s">
        <span>
          <ul>
            <li class="equity-analytics">$150,000</li>
          </ul>
        </span>
        <span>
          <ul>
            <li class="cash-flow-analytics">$1000</li>
          </ul>
        </span>
      </div>
  </div>
  <div class="item">
    <div class="item-header row">
      <h3>5809 Oakwood Dr</h3>
    </div>
    <a href="#"><img src="https://cdn.vox-cdn.com/thumbor/9KHtq2E7Ua18ok5qlLnAv5kXLfY=/0x0:4256x2163/1200x800/filters:focal(1731x758:2411x1438)/cdn.vox-cdn.com/uploads/chorus_image/image/58387913/Flex_House_Exterior_6_13_17.0.jpg" alt=""></a>
      <div class="subitem row end-s">
        <span>
          <ul>
            <li class="equity-analytics">$120,000</li>
          </ul>
        </span>
        <span>
          <ul>
            <li class="cash-flow-analytics">$800</li>
          </ul>
        </span>
      </div>
  </div>
</div>

































<!-- MAIN SIDEBAR -->
<!-- <sm-sidebar class="left vertical inverted sidebar labeled icon menu" #invertedSidebar>
    <a class="item" routerLink="/properties">
        <i class="home icon"></i> Properties
    </a>
    <a class="item" routerLink="/dashboard">
        <i class="block layout icon"></i> Dashboard
    </a>
</sm-sidebar> -->
