@import '../../app.component.scss';

// MAIN-MENU CONSTANTS
$main-menu-height: 50px;

.main-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
	height: $main-menu-height;
  background-color: $menu-bg-color;
  margin: 0 auto;
  ul {
    list-style-type: none;
    height: auto;
    min-height: 100%;
    margin: 0;
    padding: 0;
  }
  div {
    display: inline-block;
  }
  a {
    height: $main-menu-height;
    display: inline-block;
    text-align: center;
    padding: $menu-font-size;
    margin: 0 auto;
    font-size: $menu-font-size;
    outline: none;
    text-decoration: none;
    transition: $menu-transition;
    &:hover {
      background-color: $accent-color-1;
      cursor: pointer;
    }
  }
}

