@import '../../app.component.scss';

// MAIN-MENU CONSTANTS
$main-menu-height: 50px;

.main-menu {
  width: 100%;
	height: $main-menu-height;
	background-color: #444;
  margin: 0;
}

.main-menu ul {
  list-style-type: none;
  height: auto;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.main-menu li {
  position: relative;
  height: $main-menu-height;
  min-height: $main-menu-height;
  float: none;
  display: inline-block;
  text-align: center;
  padding: ($main-menu-height)-35 16px;
  margin: auto 0;
  font-size: 15px;
  text-decoration: none;
  outline: none;
	color: white;
  transition: 0.2s;
}

.main-menu li:hover {
  background-color: #555;
  cursor: pointer;
}

.main-menu a {

}

.main-menu span {
	margin-right: 5px;
}
